a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  height: 100vh;
  font-family: system-ui;
  background-image: url('https://img.freepik.com/premium-vector/ufo-spaceship-with-light-beam-flying-city-ufo-day-vector-illustration_165143-1102.jpg?w=900');
}


