<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <ul>
      <li><a href="/ClientApp/src/app/home/home.component.html">Home</a></li>
      <li><a href="/ClientApp/src/app/maps/maps.component.html">Maps</a></li>
      <li><a href="/ClientApp/src/app/report/report.component.html">Report a UFO</a></li>
      <li><a href="/ClientApp/src/app/login/login.component.html">Login</a></li>
    </ul>
  </header>
</body>
</html>

