

<header>

  <div class="logo">UFO observations </div>
  <nav>
    <ul>
      <li>
      <a href="/ClientApp/src/app/home/home.component.html">Home</a>
      </li>
      <li>
      <a href="/ClientApp/src/app/maps/maps.component.html">Maps</a>
      </li>
      <li>
      <a href="/ClientApp/src/app/report/report.component.html">Report a UFO</a>
      </li>
      <li>
      <a href="/ClientApp/src/app/login/login.component.html">Login</a>
      </li>
    </ul>

    <router-outlet></router-outlet>


  </nav>

</header>

